# bison/flex files
lex.yy.*
*.output
*.tab.*

# executable target
compiler

# object files
*.o

# vscode files
.vscode
*~

# JetBrains files
.idea

# CMake
cmake-build-debug
CMakeFiles
CMakeCache.txt
cmake_install.cmake
*.cbp
Makefile

# Mac OS
.DS_Store
